@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import './theme.css';
@tailwind utilities;

*{
    font-family: "Faculty Glyphic", 'serif';
}

/* h1{
    font-family: "Piedra", 'serif';
} */

.dashboard-sidebar .active {
  background-color: black;
  font-weight: bold;
  color: white !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar::-webkit-scrollbar {
    display: block;
  }
  .scrollbar {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
  }
}